.coaches {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    gap: 40px;
    @media (width<"1366px") {
        text-align: center;
        font-size: 42px;
        margin-bottom: 40px;
        width: 566px;
    }
    @media (width<"768px") {
        text-align: center;
        font-size: 42px;
        margin-bottom: 40px;
        width: 226px;
    }
}

.title {
    margin-bottom: 48px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 49px;
    letter-spacing: 0.03em;
    color: #102654;
    @media (width<"1366px") {
        text-align: center;
        font-size: 42px;
        margin-bottom: 40px;
    }
    @media (width<"768px") {
        font-size: 32px;
    }
}

.wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 120px 103px;
    margin: 0 auto;
    @media (width<"1366px") {
        max-width: 768px;
        padding: 80px 45px 60px 45px;
    }
    @media (width<"768px") {
        max-width: 320px;
        padding: 70px 15px 25px 15px;
    }
}

.navigationBtn {
    all: unset;
    width: 18px;
}

.prev {
    left: -56px;
    top: 50%;
    position: absolute;
    transform: translate(0, -60%);
    @media (width<"768px") {
        z-index: 10;
    }
}

.next {
    right: -56px;
    top: 50%;
    transform: translate(0, -60%);
    position: absolute;
    @media (width<"768px") {
        z-index: 10;
    }
}
